<%= form_for @user, url: url_form do |f| %>
  <%= render "shared/error_messages" , object: @user %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label fw-semibold" %>
    <%= f.text_field :name, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label fw-semibold" %>
    <%= f.email_field :email, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label fw-semibold" %>
    <%= f.password_field :password, class: "form-control form-control-lg" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label fw-semibold" %>
    <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :dob, t(".date_of_birth") %>
    <%= f.date_field :dob, class: "form-control", placeholder: t(".select_date") %>
  </div>

  <div class="mb-3">
    <%= f.select :gender, gender_options_for_select, prompt: t(".select_gender") %>
  </div>

  <div class="form-group">
    <%= f.submit t(".submit"), class: "btn btn-primary" %>
  </div>
<% end %>
