<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layouts.header.sample_app"), root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("layouts.header.home"), root_path %></li>
          <li><%= link_to t("layouts.header.contact"), contact_path %></li>
          <% if logged_in? %>
            <li><%= link_to t("layouts.header.users"), user_path(current_user) %></li>
            <li>
              <%= link_to t("layouts.header.settings"), edit_user_path(current_user) %>
            </li>
            <li>
              <%= button_to t("layouts.header.logout"), logout_path, method: :delete, class: "btn btn-link navbar-btn" %>
            </li>
          <% else %>
            <li><%= link_to t("layouts.header.login"), login_path %></li>
          <% end %>
          <!-- Language switcher -->
          <li class="<%= I18n.locale == :en ? "active" : "" %>">
            <%= link_to locale: "en" do %>
              <i class="fa fa-flag"></i> <%= t("layouts.header.english") %>
            <% end %>
          </li>
          <li class="<%= I18n.locale == :vi ? "active" : "" %>">
            <%= link_to locale: "vi" do %>
              <i class="fa fa-flag"></i> <%= t("layouts.header.vietnamese") %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
